@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --main-color: #f05c5c;
    --text-color: yellow;
    --para-color: #ffffff;
    --bg: #000000;
    --card-bg: #a879ef;
    --white: #ffffff;
    --btn-color: linear-gradient(78.29deg, #ff0000, #ff0000);
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./assest/bg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg);
    /* padding-bottom: 50px; */
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
.topnav {
    padding: 16px 5px;
    padding-left: 20px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .topnav a {
    float: right;
    color: #FF6EC7;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    border-bottom: 2px solid #FF6EC7;
    color: #ffffff;
    /* background-color: #ddd; */
  }

  #suggestions {
    background-color: #463c7b;
    color: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 500px;
}

#suggestions h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#suggestions p {
    font-size: 16px;
    margin-bottom: 15px;
}

#suggestions ul {
    list-style-type: disc;
    padding-left: 20px;
}

#suggestions li {
    font-size: 16px;
    margin-bottom: 8px;
}


.nav-title{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

header {
    width: 100%;
}

header p{
    color: #fff;
}

nav {
    padding: 20px;
    width: 100%;
    background-color: var(--bg);
    box-shadow: 0px 4px 25px rgba(26, 26, 77, 0.278);
}

.nav-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    box-shadow: 0px 0px 25px #a879ef;
    height: 10rem;
    width: 30rem;
    border-radius: 5px;
    padding-top: 2.5rem;
    margin: auto;
    color:antiquewhite;
}
.logo {    
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
}

.main-title {
    width: 100%;
    padding-block: 30px;
    padding-left: 10px;
    justify-content: space-between;
}

.suggestions{
    font-size: 24px;
  display: grid;
  place-items: center;
  width: 350px;
}

footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    background-color: var(--bg); /* Set background color */
    color: var(--para-color); /* Set text color */
    z-index: 1000; /* Ensure it appears above other content */
}


.footer-text {
    font-size: 1.4rem;
    color: var(--para-color);
}

.footer-social-icons {
    gap: 20px;
}

.footer-social-icons a ion-icon {
    font-size: 2.2rem;
    color: var(--para-color);
}

#chartContainer1{
    width: 500px;
    height: 1000px;

}